/*----------Root---------*/ 
:root{
--font-ral:"Raleway", sans-serif;
--font-rob:"Roboto";

--font-weig:500;
--font-weig-b:700;

--color-change:#2196F3;
--color-web:#2196F3;
--color-studio:#000000;
--color-navig:#212121;
--color-link:#757575;

--line-nav:1.14;
--line-title:1.568;
--line-logo:1.19;
}




/*----------BODY---------*/ 
.body{
    font-family: "Roboto";
    font-size: 400;
    width: 1600px;
    height: auto;
    background: #FFFFFF;
}


/*----------HEADER---------*/ 

.header{
    margin-top: 0;
    width: 1600px;
    left: 0px;
    top: 0px; 
}

.header-logo{}

.header-studio{
font-family:var(--font-ral);
font-weight: var(--font-weig-b);
font-size: 26px;
line-height:var(--line-logo);
letter-spacing: 0.03em;
color:var(--color-studio);
text-decoration: none;
}

.header-web{
font-family: var(--font-ral);
font-weight:var(--font-weig-b);
font-size: 26px;
line-height: var(--line-logo);
letter-spacing: 0.03em;
color:var(--color-web);
}

.header-navigation{
    font-family:var(--font-rob);
    font-weight: var(--font-weig);
    font-size: 14px;
    line-height:var(--line-nav);
    letter-spacing: 0.02em;
    
}

.header-list{
    list-style: none;
}
.link{
    text-decoration:none;
}
.link:hover,
.link:focus{
    color:var(--color-change);
}

.header-list{
    color: var(--color-link);
}
.contact-mail{
    color: #000000;
}

.contact-tel{
text-decoration: none;
font-family: var(--font-rob);
font-weight:var(--font-weig);
font-size: 14px;
line-height:var(--line-nav);
letter-spacing: 0.02em;
color:var(--color-link);
}
.contact-tel:hover,
.contact-tel:focus{
    color: var(--color-change);
}


/*----------HEROY---------*/ 
.main{
    width: 1600px;
    height:250px;
    background-color: #2F303A;
}
.main-heroy{
    font-family:var(--font-rob);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    color: #FFFFFF;

}

.main-button{
font-family:var(--font-rob);
font-weight:var(--font-weig-b);
font-size: 16px;
line-height: calc(30/16) 30px;
background-color: #2196F3;
}

/*----------SKILLS---------*/ 

.skill{
}

.skill h2{
    display: none;
}

.skill-list{
    list-style: none;
}
.skill-list,h3{
font-weight:var(--font-weig-b);
font-size: 14px;
line-height:var(--line-nav);
letter-spacing: 0.03em;
color:var(--color-navig);;
}

.skill-list,p{
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: var(--color-link);
}



/*----------WORK---------*/ 

.work{
}

.work-title{
font-family: var(--font-rob);
font-weight:var(--font-weig-b);
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
color: var(--color-navig);;
}
.work-image{
list-style: none;
}

/*----------TEAM---------*/ 

.team{
}

.team-title{
font-weight:var(--font-weig-b);
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
color:var(--color-navig);;
}
.team-cards{

}
.team-list{
    list-style: none;
}

.team-image,h3 {
    font-weight:var(--font-weig);
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    color:var(--color-navig);;
}
.team-image,p{
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    color:var(--color-link);
}

/*----------FOOTER---------*/ 

.footer{
background-color: #2F303A;
margin-top: 2900px;
width: 1600px;
height: 250px;
}

.footer-studio{
font-family:var(--font-ral);
font-weight:var(--font-weig-b);
font-size: 26px;
line-height:var(--line-logo);
letter-spacing: 0.03em;
color:var(--color-studio);
text-decoration: none;
}

.footer-web{
font-family: var(--font-ral);
font-weight:var(--font-weig-b);
font-size: 26px;
line-height:var(--line-logo);
letter-spacing: 0.03em;
color:var(--color-web);
}
.footer-addres{
font-size: 14px;
line-height:var(--line-title);
letter-spacing: 0.03em;
text-decoration: none;
color: #FFFFFF;
}
.footer-contacts{
font-size: 14px;
line-height:var(--line-title);
letter-spacing: 0.03em;
color: var(--color-link);
}

.footer-list{
list-style: none;
color: var(--color-link);
}
.footer-mail{
    list-style: none;
    color: var(--color-link);
}

.footer-mail:hover,
.footer-tel:focus{
color:var(--color-change);
}


/*  */


.footer-contacts {
}

.footer-list {
}
.footer-mail {
}
.footer-tel {
}